.columnLayout .outer .inner{
  display: flex;
  flex-direction: column;
  padding-bottom: 8rem;
  padding-top: 8rem;
  padding: 10rem 3rem;

  .columnLayout_columnA{
    align-items: center;
    display: flex;
    flex-direction: column;
    order: 2;
  }

  .columnLayout_columnB{
    margin: 0 0 1.6rem 0;
    order: 1;
  }

  @media screen and (min-width: $laptop){
    display: flex;
    flex-direction: row;
    padding: 10rem 0;

    .columnLayout_columnA{
      align-items: flex-start;
      flex-basis: $span-3-12;
      order: 1;
    }

    .columnLayout_columnB{
      flex-basis: $span-8-12;
      margin: 0 0 0 $span-1-12;
      order: 2;
    }
  }
}